<footer>
  <div class="container">
    <div class="footer-links">
      <ul>
        <li><a [routerLink]="'/about'">About Us</a></li>
        <li><a [routerLink]="'/contactUs'">Contact</a></li>
        <li><a [routerLink]="'/gallery'">Gallery</a></li>
        <li><a [routerLink]="'/book'">Book</a></li>
      </ul>
    </div>
    <div class="social-links">
      <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="copyright">&copy; 2024 კენწერო</p>
  </div>
</footer>
