<h1>ნებისმიერი ინფორმაციისთვის დაგვიკავშირდით</h1>
<div class="container">
  <div class="contac-us-left">
    <div class="contact-card">
      <div class="label">
        <h2>Email:</h2>
        <h2>Tel:</h2>
        <h2>Address:</h2>
      </div>
      <div class="label">
        <!-- <h2>info.kentsero.ge</h2> -->
        <h2>{{ email }}</h2>
        <h2>+593400119</h2>
        <h2>I.Javakhishvili 42:</h2>
      </div>
    </div>
  </div>
  <div class="contac-us-right">
    <div style="width: 100%">
      <iframe
        width="400"
        height="300"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=gonio+(kentsero)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ><a href="https://www.gps.ie/">gps devices</a></iframe
      >
    </div>
  </div>
</div>
